<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Awkyo</title>
	<link rel="shortcut icon" href="/images/fav" />
	<meta property="og:title" content="Awkyo" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.awkyo.com" />
	<meta property="og:image" content="/images/metabackground.jpeg" />
	<meta property="og:description" content="Meet new people in a unique way">
	<meta name="description" content="Awkyo offer users a new expreience to meet new people without having to worry about revealing everything about themselves.">
	<meta name="keywords" content="online, dating, awkyo">
	<meta name="author" content="Awkyo">
	<link href="/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>	
	<div class="jumbotron">

		<div class="header container">
			<h1><a href="">Awkyo</a></h1>
		</div>


		<div class="body-message col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
			<h2>A new way to meet new people</h2>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
					<p>Coming Soon...</p>
					<form class="form-inline">
						<input type="text" id="email" name="email" placeholder="email">
						<input type="submit" id="submit-btn" class="btn btn-default" value="Subscribe" disabled>
					</form>
					<div id="result">
						<p>Thank you for subscribing</p>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- <div class="learnMore"> -->
<!-- 		<h1 class="text-center">Meet genuine people in a unique way</h1>

		<div class="container">

			<div class="section col-md-6 col-md-offset-3">
				<h3>Browse through users</h3>
				<p>Connect with users throughout the world</p>
			</div>

			<div class="section col-md-6 col-md-offset-3">
				<h3>Meet new people</h3>
				<p>Build a relationship based on interests</p>
			</div>


			<div class="section col-md-6 col-md-offset-3">
				<h3>It's Free!</h3>
				<p>Awkyo is completely free to try</p>
			</div>
		</div>

	</div>

	<div class="howItWorks">
		<h1 class="text-center how">How it works</h1>

		<div class="container">

			<div class="section col-md-8 col-md-offset-2">
				<h3>1) Upload a photo</h3>		
				<div class="photo col-md-1">
					<img src="http://awkyo.s3.amazonaws.com/profilePhotos/bryly27/079c6a8abb3dc8822bb500bbae2cf139.jpg">
				</div>
				<div class="photo col-md-1">
					<img src="http://awkyo.s3.amazonaws.com/profilePhotos/bryly27/11870cb56df12527e588f2ef967232e8.jpg">
				</div>
				<div class="photo col-md-1">
					<img src="http://awkyo.s3.amazonaws.com/profilePhotos/bryly27/bb0132754d128b1bbeb6897169b31159.jpg">
				</div>
				<div class="photo col-md-1">
					<img src="http://awkyo.s3.amazonaws.com/profilePhotos/bryly27/722c30b2d50cee9d21354560975efdf5.jpg">
				</div>
				<div class="photo col-md-1">
					<img src="http://awkyo.s3.amazonaws.com/profilePhotos/bryly27/8fbf99c97085b142aebec354eff3798a.jpg">
				</div>
				<div class="photo col-md-1">
					<img src="http://awkyo.s3.amazonaws.com/profilePhotos/bryly27/2a8f20438489e4068a057f5e0f5458c0.jpg">
				</div>
				<div class="photo col-md-1">
					<img src="http://awkyo.s3.amazonaws.com/profilePhotos/bryly27/598f4fe64aefab8f00bcbea4c9239abf.jpg">
				</div>
				<div class="photo col-md-1">
					<img src="http://awkyo.s3.amazonaws.com/profilePhotos/bryly27/eb78f660ed6774af47b4d76603f888cc.jpg">
				</div>
				<div class="photo col-md-1">
					<img src="http://awkyo.s3.amazonaws.com/profilePhotos/bryly27/c58cea7ef6e89ca39f9401edb12d241d.jpg">
				</div>
				<div class="photo col-md-1">
					<img src="http://awkyo.s3.amazonaws.com/profilePhotos/bryly27/15cdebdfacf9701d9adc49e00475ce47.jpg">
				</div>
			</div>

			<div class="section col-md-8 col-md-offset-2">
				<h3>2) Connect with users</h3>
			</div>
			<div class="section col-md-8 col-md-offset-2">
				<h3>3) Unblur their photo</h3>
			</div>
		</div>
	</div>
 -->











	<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61671565-7', 'auto');
  ga('send', 'pageview');

</script>



</body>
</html>