<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Awkyo</title>
	<link rel="shortcut icon" href="/images/fav" />
	<meta property="og:title" content="Awkyo" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.awkyo.com" />
	<meta property="og:image" content="/images/metabackground.jpeg" />
	<meta property="og:description" content="Meet new people in a unique way">
	<meta name="description" content="Awkyo offer users a new expreience to meet new people without having to worry about revealing everything about themselves.">
	<meta name="keywords" content="online, dating, awkyo">
	<meta name="author" content="Awkyo">
	<link href="/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>	
	<div class="jumbotron">

		<div class="header container">
			<h1><a href="">Awkyo</a></h1>
		</div>


		<div class="body-message col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
			<h2>Meet new people on Awkyo</h2>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
					<p>Coming Soon...</p>
					<p>Subscribe to be a beta tester</p>
					<form class="form-inline">
						<input type="text" class="email" name="email" placeholder="email">
						<input type="submit" class="btn btn-default submit-btn" value="Subscribe" disabled>
					</form>
					<div class="result">
						<p>Thank you for subscribing</p>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="howItWorks">
		<h1 class="text-center how">How it works</h1>

		<div class="container">

			<div class="section">
				<h3>1) Create a profile by uploading a photo and writing about yourself</h3>
				<img src="/images/Awkyo-1.jpg">
				<!-- <h3>1) Create a photo</h3> -->
			</div>

			<div class="section">
				<img src="/images/Awkyo-2.jpg">
				<h3>2) This is how you and others will look</h3>
			</div>
			<div class="section">
				<h3>3) You find someone interesting based off of their profile</h3>
				<img src="/images/Awkyo-3.jpg">
			</div>
			<div class="section">
				<img src="/images/Awkyo-4.jpg">
				<h3>4) For everyday you talk to them, their photo will become clearer</h3>
			</div>
			<div class="section">
				<h3>5) Have your photo revealed on the 10th day and plan a meet</h3>
				<img src="/images/Awkyo-5.jpg">
			</div>
		</div>
	</div>

	<div class="learnMore">
		<h3 class="text-center">Sign up now</h3>
		<p class="text-center">Subscribe to be a beta tester</p>
		<form class="form-inline text-center">
			<input type="text" class="email" name="email" placeholder="email">
			<input type="submit" class="btn btn-default submit-btn" value="Subscribe" disabled>
		</form>
		<div class="result text-center">
			<p>Thank you for subscribing</p>
		</div>

		<p class='pull-right'>&#169; Awkyo, 2015</p>
	</div>














	<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61671565-7', 'auto');
  ga('send', 'pageview');

</script>



</body>
</html>