<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Awkyo Survey</title>
	<link rel="shortcut icon" href="/images/fav" />
	<meta property="og:title" content="Awkyo" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.awkyo.com" />
	<meta property="og:image" content="/images/metabackground.jpeg" />
	<meta property="og:description" content="Meet new people in a unique way">
	<meta name="description" content="Awkyo offer users a new expreience to meet new people without having to worry about revealing everything about themselves.">
	<meta name="keywords" content="online, dating, awkyo">
	<meta name="author" content="Awkyo">
	<link href="/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>	
	<script type='text/javascript' src='//www.instant.ly/survey/55f902c4e4b0074a7929c6e4/embed-js?height=AUTO&width=900'></script>



</body>
</html>